.response-container {
    display: flex;
    flex-direction: column;
}

.mcqOption {
    height: 4rem;
    margin: 0.5rem;
    border: none;
}




#root {
    text-align: center;
}

.form-container {
    width: 60%;
    margin: 0 auto;
}