
.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    height: 100%;
}

.inner-container {
    padding: 2rem;
    height: 100%;
    text-align: center;
    margin: 0;
}

.left-container {
    display: flex;
    flex-direction: column;
    /* background-color: #8ED4F9; */
}

.lq-title {
    margin: 2rem;
}

.lq-container {
    width: 80%;
    margin: 2rem auto;
    text-align: left;
}

.form-container {
    padding: 5%;
}

.center-container {
    background-color: #F5F6FA;
    padding: 5%;
}
.overview-container {
    text-align: center;
    margin: 0 auto;
}
.topic-container {
    display: flex;
    flex-direction: column;
}

.concept-container {
    padding: 5%;
    margin: 5rem auto;
    text-align: left;
}

.topic {
    width: 100%;
    border-radius: 0.5rem;
    background-color: white;
    margin: 0.25rem;
    padding: 0.5rem;
}

.dash-item {
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-weight: bold;
}

.accordion-body {
    display: flex;
    flex: row;
}
.activity-link {
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    height: 100%;
    margin: 0 0.5rem;
    padding: 1rem;
}

